<div class="table-responsive">
  <table class="table">
    <tr class="text-center">
      <th>#</th>
      <th><%= t ".logo" %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".level" %></th>
      <th><%= t ".win" %></th>
      <th><%= t ".member" %></th>
      <th></th>
    </tr>
    <%= render teams %>
  </table>
</div>
