<tr class="text-center" data-link="<%= team_path team %>">
  <td class="link-to-detail"><%= team_counter + 1 %></td>
  <td class="link-to-detail"><%= logo_for team, "team-logo-index" %></td>
  <td class="link-to-detail"><%= team.name %></td>
  <td class="link-to-detail"><%= team.level_name %></td>
  <td class="link-to-detail"><%= team.win %></td>
  <td class="link-to-detail"><%= team.member.size %></td>
  <td>
    <% if current_user == team.user %>
      <div class="dropdown">
        <a data-toggle="dropdown" href=""><i class="fas fa-cog"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to edit_team_path(team), class: "dropdown-item" do %>
            <i class="fas fa-edit"></i><%= t "edit" %>
          <% end %>
          <%= link_to team, method: :delete, data: {confirm: t("confirm_delete")}, class: "dropdown-item delete-comment" do %>
            <i class="fas fa-trash-alt"></i><%= t "delete" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </td>
</tr>
