<% provide :page_name, @team.name %>
<%= cover_photo_for @team, "team-cover-photo" %>
<div class="container">
  <%= logo_for @team, "logo-infor-page" %>
  <%= render "links" %>
  <div class="infor-team">
    <h2><%= @team.name %></h2>
    <p><%= @team.user_name %><span class="captain"><%= t ".captain" %></span></p>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="team-pages tab-content">
        <div class="tab-pane active" id="new-feed">
          <div id="post-form"><%= render "posts/form", post: @post, url: team_posts_path(@team) %></div>
          <div id="posts-area">
            <%= render @posts, team: @team, comments: @comments %>
          </div>
        </div>
        <div class="tab-pane fade" id="member">
          <h4 class="introduce"><i class="fas fa-users"></i><%= t ".member_list" %></h4>
          <div class="row">
            <% @members.each do |user| %>
              <div class="col-md-6 member-infor">
                <%= image_for user %>
                <div><%= user.name %></div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="introduce">
          <h4 class="introduce"><i class="fas fa-info"></i><%= t ".introduce" %></h4>
          <table class="table-show-infor">
            <tr>
              <th><i class="fas fa-calendar-check"></i><%= t ".date_create" %></th>
              <td><%= @team.created_at.strftime("%d/%m/%Y lúc %H:%M") %></td>
            </tr>
            <tr>
              <th><i class="fas fa-users"></i><%= t ".member" %></th>
              <td><%= @team.member.size %></td>
            </tr>
            <tr>
              <th><i class="fas fa-level-up-alt"></i><%= t ".level" %></th>
              <td><%= @team.level_name %></td>
            </tr>
            <tr>
              <th><i class="fas fa-map-marker-alt"></i><%= t ".address" %></th>
              <td><%= @team.district_name << " - " << @team.province_name %></td>
            </tr>
            <tr>
              <th><i class="fas fa-trophy"></i><%= t ".win" %></th>
              <td><%= @team.win %></td>
            </tr>
            <tr>
              <th><i class="fas fa-pager"></i><%= t ".average_age" %></th>
              <td><%= @team.average_age %></td>
            </tr>
            <tr>
              <th><i class="fas fa-audio-description"></i><%= t ".description" %></th>
              <td><%= @team.description %></td>
            </tr>
            <tr>
              <th><i class="fas fa-images"></i><%= t ".logo" %></th>
              <td><%= logo_for @team, "table-logo" %></td>
            </tr>
            <tr>
              <th><i class="fas fa-images"></i><%= t ".image" %></th>
              <td><%= cover_photo_for @team, "table-image" %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="team-pages">
        <div class="title">
          <h6><i class="fas fa-calendar-check"></i><%= t ".match_todo" %></h6>
        </div>
        <div class="text-right create-match-link">
          <%= link_to "#" do %>
            <i class="fas fa-plus"></i><%= t ".add_match" %>
          <% end %>
        </div>
      </div>
      <div class="team-pages">
        <div class="title">
          <h6><i class="fas fa-calendar-check"></i><%= t ".vote_match" %></h6>
        </div>
        <div class="text-right create-match-link">
          <%= link_to "#" do %>
            <i class="fas fa-plus"></i><%= t ".vote" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
