<table class="table">
  <tr class="text-center">
    <th>#</th>
    <th><%= t ".sub_pitch" %></th>
    <th><%= t ".name_booking" %></th>
    <th><%= t ".phone_number" %></th>
    <th><%= t ".time" %></th>
    <th class="action"><%= t ".action" %></th>
  </tr>
  <tbody><%= render "list_request" %></tbody>
</table>
