<%= provide :page_name, t(".confirmation") %>
<div id="form">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="form-content-2">
          <%= render "devise/shared/links" %>
          <br>
          <h3 class="text-center"><%= t ".confirmation" %></h3>
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "shared/errors", object: resource %>
            <div class="form-group">
              <label><%= t ".email" %> <span class="require">*</span></label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>
            <div class="text-right">
              <%= f.submit t(".confirm"), class: "btn btn-success" %>
              <%= link_to t(".signup"), new_user_registration_path, class: "btn btn-outline-info" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="review">
          <h2 class="title"><%= t ".title" %></h2>
          <p><i class="fas fa-check"></i><%= t(".review-1").html_safe %></p>
          <p><i class="fas fa-check"></i><%= t(".review-2").html_safe %></p>
          <p><i class="fas fa-check"></i><%= t(".review-3").html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</div>
