<% if comments.present? && comments[post_id].present? %>
  <div class="list-comments list-cmt-post-<%= post_id %>">
    <% comments[post_id].each do |cmt| %>
      <div class="text-cmt comment-<%= cmt.id %>">
        <div><%= image_for cmt.user %></div>
        <div class="cmt-content">
          <div class="cmt-txt"><strong><%= cmt.user_name %></strong> <span><%= cmt.content %></span></div>
          <span class="count-like-comment" id="count-like-comment-<%= cmt.id %>"><%= render "comments/count_like", cmt_id: cmt.id %></span>
          <% if cmt.image.present? %>
            <div><%= image_tag cmt.image.url, class: "image-comment" %></div>
          <% end %>
          <span id="like-comment-<%= cmt.id %>"><%= render "likes/form_like_comment", comment_id: cmt.id %></span>
          <%= link_to t("comments.cmt.reply"), new_comment_path(post_id: cmt.post_id), remote: true %>
          <span class="post-created-at"><%= cmt.created_at.strftime "%d tháng %m, %Y lúc %H:%M" %></span>
        </div>
        <div>
          <% if current_user == cmt.user %>
            <div class="dropdown">
              <a data-toggle="dropdown" href=""><i class="fa fa-ellipsis-h"></i></a>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to edit_comment_path(cmt), class: "dropdown-item", remote: true, id: "cmt-post-#{cmt.post_id}" do %>
                  <i class="fas fa-edit"></i><%= t "edit" %>
                <% end %>
                <%= link_to cmt, method: :delete, class: "dropdown-item delete-comment", remote: :true do %>
                  <i class="fas fa-trash-alt"></i><%= t "delete" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
