<div class="modal fade booking-modal" id="booking-<%= timesheet.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5><%= t ".booking" %></h5>
        <button class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <%= form_for booking, url: bookings_path, remote: true do |f| %>
          <div class="form-group">
            <label><%= t ".date" %></label>
            <label id="err-date-<%= timesheet.id %>" class="has-error"><%= t ".cant_booking" if timesheet.start_at.strftime("%H:%M") < Time.now.strftime("%H:%M") || @bookings[timesheet.id].present? %></label>
            <%= f.text_field :date, value: Date.current.strftime("%Y-%m-%d"), "data-id": timesheet.id,
              class: "form-control text-center booking-date", id: "booking-date-#{timesheet.id}" %>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label><%= t ".time" %></label>
                <div class="form-control text-center time-field">
                  <%= timesheet.start_at.strftime("%H:%M") + " - " + timesheet.end_at.strftime("%H:%M") %>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label><%= t ".price" %></label>
                <div class="form-control text-center price-field"><%= number_to_currency timesheet.price %></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label><%= t ".name" %></label>
            <label id="err-name-<%= timesheet.id %>" class="has-error"></label>
            <%= f.text_field :name, value: current_user.name, class: "form-control text-center" %>
          </div>
          <div class="form-group">
            <label><%= t ".phone_number" %></label>
            <label id="err-phone-<%= timesheet.id %>" class="has-error"></label>
            <%= f.text_field :phone_number, value: current_user.phone_number, class: "form-control text-center" %>
          </div>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :timesheet_id, value: timesheet.id %>
          <%= f.button type: "submit", class: "btn btn-success btn-block", id: "booking-btn" do %>
            <i class="fas fa-save"></i><%= t "#{booking.new_record? ? ".booking" : "edit"}" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
