<div class="timesheet-component">
  <% timesheets.each do |sub_pitch, timesheets| %>
    <div class="sub-pitch-name"><%= sub_pitch[0] %></div>
    <% timesheets.each do |timesheet| %>
      <% if user_signed_in? %>
        <%= link_to "javascript:", class: "btn pitch-btn-booking #{"cant-booking-today" if
          timesheet.start_at.strftime("%H:%M") < Time.now.strftime("%H:%M") || placed[timesheet.id].present?}",
          "data-toggle": "modal", "data-target": "#booking-#{timesheet.id}", "data-id": timesheet.id do %>
          <div class="time">
            <i class="far fa-clock"></i>
            <%= timesheet.start_at.strftime("%H:%M") + " - " + timesheet.end_at.strftime("%H:%M") %>
          </div>
          <div class="price"><%= number_to_currency timesheet.price %></div>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "btn booking-none-login #{"cant-booking-today" if
          timesheet.start_at.strftime("%H:%M") < Time.now.strftime("%H:%M") || placed[timesheet.id].present?}",
          data: {confirm: t("signin_before")} do %>
          <div class="time">
            <i class="far fa-clock"></i>
            <%= timesheet.start_at.strftime("%H:%M") + " - " + timesheet.end_at.strftime("%H:%M") %>
          </div>
          <div class="price"><%= number_to_currency timesheet.price %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
