<% provide :page_name, t(".unlock") %>
<div id="form">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-content-2">
          <div class="link-area"><%= render "devise/shared/links" %></div>
          <h3 class="text-center"><%= t ".unlock" %></h3>
          <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {method: :post}) do |f| %>
            <div class="form-group">
              <div class="group-errors">
                <label><%= t ".email" %> <span class="require">*</span></label>
                <%= render "shared/errors", object: resource %>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <br>
            <div class="row">
              <div class="col-6"><%= f.submit t(".confirm"), class: "btn btn-success btn-block" %></div>
              <div class="col-6">
                <%= link_to t(".signin"), new_user_session_path, class: "btn btn-outline-black btn-block" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="review">
          <h2 class="title"><%= t ".title" %></h2>
          <p><i class="fas fa-check"></i><%= t(".review-1").html_safe %></p>
          <p><i class="fas fa-check"></i><%= t(".review-2").html_safe %></p>
          <p><i class="fas fa-check"></i><%= t(".review-3").html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</div>
