<%= search_form_for object, url: url do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.search_field attributes, class: "form-control form-control-lg", placeholder: t(".enter_search") %>
    </div>
    <div class="col-md-2 btn-center">
      <%= f.button type: "submit", class: "btn btn-lg btn-success btn-block" do %>
        <i class="fas fa-search"></i>
        <%= t ".search" %>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= link_to root_path, class: "btn btn-lg btn-outline-black btn-block" do %>
        <i class="fas fa-sync-alt"></i>
        <%= t ".all" %>
      <% end %>
    </div>
  </div>
<% end %>
