<table class="table table-bordered">
  <tr class="text-center">
    <th class="time"><%= t ".start_at" %></th>
    <th class="time"><%= t ".end_at" %></th>
    <th class="price"><%= t ".price" %></th>
    <th class="action"><%= t ".action" %></th>
  </tr>
  <tbody id="list-timesheet-<%= sp_id %>"><%= render timesheets %></tbody>
</table>
