<%= provide :page_name, t(".signin") %>
<div id="form">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="form-content">
          <h3 class="text-center"><%= t ".signin" %></h3>
          <div class="login-social">
            <%= link_to image_tag("facebook.png", class: "fb"),
              omniauth_authorize_path(resource_name, "facebook") %>
            <%= link_to image_tag("google.png", class: "gg"),
              omniauth_authorize_path(resource_name, "google_oauth2") %>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <label><%= t ".email" %> <span class="require">*</span></label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <div class="form-group">
              <label><%= t ".password" %> <span class="require">*</span></label>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="remember-forgot">
              <div class="custom-control custom-checkbox">
                <%= f.check_box :remember_me, checked: true, class: "custom-control-input" %>
                <%= f.label :remember_me, t(".remember"), class: "custom-control-label" %>
              </div>
              <div>
                <%= link_to t(".forgot"), new_password_path(resource_name) %>
              </div>
            </div>
            <br>
            <div class="actions">
              <%= f.submit t(".submit"), class: "btn btn-block btn-success" %>
            </div>
          <% end %>
          <br>
          <div class="text-center">
            <%= link_to t(".signup"), new_registration_path(resource_name), class: "btn btn-outline-info" %>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="review">
          <h2 class="title"><%= t ".title" %></h2>
          <p><i class="fas fa-check"></i><%= t(".review-1").html_safe %></p>
          <p><i class="fas fa-check"></i><%= t(".review-2").html_safe %></p>
          <p><i class="fas fa-check"></i><%= t(".review-3").html_safe %></p>
          <p><i class="fas fa-check"></i><%= t(".review-4").html_safe %></p>
          <p><i class="fas fa-check"></i><%= t(".review-5").html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</div>
