<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="filter-title"><i class="fas fa-filter"></i><%= t ".filter_result" %></div>
      <div id="home" class="list-teams">
        <div class="sidebar">
          <div class="title"><i class="fas fa-map-marker-alt"></i><%= t ".province" %></div>
          <ul class="nav flex-column tabs-province-in-team" role="tablist">
            <% @list_provinces.each do |item| %>
              <li class="nav-item">
                <%= link_to "##{item[1]}", "data-toggle": "tab",
                  class: "nav-link tabs-province-match #{"active" if item == @list_provinces.first}", id: "load-#{item[1]}" do %>
                  <div></i><%= item[0] %></div>
                  <div><%= item[2] %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="sidebar">
          <% @levels.each do |item| %>
            <div class="district-checkbox">
              <label class="container-checkbox">
                <input type="checkbox" class="checkbox-level-match" data-id="<%= item[1] %>" id="level-<%= item[1] %>">
                <span class="checkmark"></span>
              </label>
              <label class="district-name-count" for="level-<%= item[1] %>">
                <div><%= item[0] %></div>
                <div><%= item[2] %></div>
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="filter-title"><i class="fas fa-futbol"></i><%= t ".match_in", province: @list_provinces.first&.first %></div>
      <div class="search-form"><%= render "shared/search", object: @matches, url: matches_path, attributes: :time_or_pitch_name_or_district_name_or_province_name_or_level_name_cont %></div>
      <div id="match-component">
        <%= render "match" %>
      </div>
    </div>
  </div>
</div>
