<div class="component-sub-pitch">
  <div class="sub-pitch">
    <div class="row">
      <div class="col-md-4">
        <strong><i class="fas fa-check-square"></i><%= sub_pitch.name %></strong>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-2 text-center">
        <%= link_to edit_pitch_sub_pitch_path(sub_pitch.pitch_id, sub_pitch.id),
          class: "edit-sub-pitch", remote: true do %>
          <i class="fas fa-edit"></i><%= t "edit" %>
        <% end %>
      </div>
      <div class="col-md-1 text-center">
        <%= link_to pitch_sub_pitch_path(sub_pitch.pitch_id, sub_pitch.id),
          method: :delete, remote: true, data: {confirm: t("confirm_delete")},
          class: "delete-sub-pitch" do %>
          <i class="fas fa-trash-alt"></i><%= t "delete" %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="time-form-<%= sub_pitch.id %>">
    <%= render "timesheets/form", timesheet: @timesheet, url: timesheets_path, sp_id: sub_pitch.id %>
  </div>
  <%= render "timesheets/table", sp_id: sub_pitch.id,
    timesheets: Timesheet.correct_sub_pitch(sub_pitch.id) %>
</div>
